<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TRZXMSSBrowse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B7329AE61E669F13005D1D65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7329AFF1E669F13005D1D65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7329B0A1E669F13005D1D65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
